/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e1e1e; /* Dark background */
  overflow: hidden;
  text-align: center;
}
.container{
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #3498db;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #ffffff;
}

/* Search Bar Styles */
.SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 20px;
}

.DarkModeToggleButton {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0.7;
  font-size: 16px;
}

.DarkModeToggleButton:hover {
  opacity: 0.9;
}

.search-location {
  position: relative;
  flex-grow: 1;
  margin-left: 20px;
}

.search-location input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  opacity: 0.7;
}

.search-location input::placeholder {
  color: #888;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  opacity: 0.7;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestions-list li:hover {
  background-color: #555;
}

/* Weather Info Styles */
.weather-info {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity: 0.7;
}
.weather-info img{
  width: 150px;
  height: 150px;
}

.weather-info h2 {
  margin-top: 0;
  font-size: 24px;
}

.location-time {
  font-size: 18px;
  color: #888;
}

.current-weather {
  text-align: center;
  margin: 20px 0;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.feels-like {
  font-size: 18px;
  color: #888;
}

.weather-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.weather-stats p {
  margin: 0;
  font-size: 16px;
}

/* Forecast Styles */
.forecast {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  opacity: 0.7;
}

.forecast h2 {
  margin-top: 0;
  font-size: 24px;
}

.forecast-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.forecast-item {
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
}

.forecast-item h3 {
  margin: 0;
  font-size: 18px;
}

.forecast-item img {
  width: 50px;
  height: 50px;
}

.forecast-item p {
  margin: 5px 0;
  font-size: 14px;
}
.error{
  color: #1e1e1e;
  z-index: 100;
}

/* Responsive Design */
@media (max-width: 768px) {
  .forecast-list {
    flex-direction: column;
  }

  .forecast-item {
    margin-bottom: 10px;
  }
  .DarkModeToggleButton{
    display: none;
  }
  .search-location{
    margin-left: 0;
  }
}